body {
  margin: 0;
  background-color: blue;
}

.align-center {
  display: flex;
  margin: 0 auto;
  height: 50vh;
  width: 50vh;
  /* border: 5px solid black; */
  padding: 10 px;
  align-items: flex-end;
  justify-content: center;
}

.align-response {
  display: flex;
  margin: auto;
  position: absolute;
  left: 30vw;
  bottom: 32vh;
}

#eightBall {
  display: flex;
  margin: auto;
  position: absolute;
  left: 42vw;
  bottom: 55vh;
}

#eight-ball-title {
  display: flex;
  margin: auto;
  position: absolute;
  left: 28vw;
  bottom: 90svh;
}

#somagicalphrase {
  display: flex;
  margin: auto;
  position: absolute;
  left: 56vw;
  bottom: 5vh;
}

#bob-ross {
  display: flex;
  margin: auto;
  position: absolute;
  left: 70vw;
  bottom: 1vh;
}

.rainbowText {
  font-family: arial black;
  font-size: 70px;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 35s linear infinite;
}

@keyframes move {
  to {
    background-position: 4500vh;
  }
}
